*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* modifica main */
main{
  padding: 20px 100px;
  background-size: 100%;
  background-image: url("https://img.freepik.com/foto-premium/immagine-di-bobine-di-film-d-epoca-su-uno-sfondo-scuro-testurato-che-evoca-la-nostalgia-per-il-cinema-classico-e-la-produzione-cinematografica_490636-17474.jpg");
}

main h1{
  padding-bottom: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* modifica header */
header{
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
header h1{
  padding-left: 20px;
  font-size: 50px;
  color: red;
  font-weight: bold;
    transition: transform 0.3s ease;
}
header h1:hover {
  transform: scale(1.1);
}

/* modifica home page */
.home, .home1{
  background-image: url("https://img.freepik.com/vettori-gratuito/sfondo-a-striscia-di-film-retro-in-stile-3d-con-spazio-per-il-testo_1017-52848.jpg?semt=ais_hybrid");
  background-size: 100%;
  font-size: 20px;
  height: 80vh;
  color: white;
}
.home1 a{
background-color: rgb(13, 98, 177);
padding: 20px;
border-radius: 5px;
color: white;
}
.home h1{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.home1 p{
  margin-bottom: 40px;
}

/* modifica lista film */
.lista{
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  flex-wrap: wrap;
}

/* modifica CREAZIONE CARD */
.card{
  width: 30%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  background-color: white;
}
.card .img{
  width: 70%;
}
.card h3{
  background-color: rgb(0, 81, 255);
  padding: 5px;
  width: 50%;
  margin-left: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
}
a{
  text-decoration: none;
}





/* modifica footer */
/* Stile generale del footer */
.footer {
  background-color: black;
  color: gray;
  padding: 20px 0;
  text-align: center;
}

/* Navbar nel footer */
.footer-nav {
  margin-bottom: 10px;
}

/* Menu della navbar */
.footer-menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Link della navbar */
.footer-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-menu li a:hover {
  color: white;
}

/* Testo del footer */
.footer-text {
  font-size: 12px;
}

/* modifica detaglio review */
.review{
  border: 2px solid rgb(151, 151, 151);
 background-color: white;
  margin: 10px 0px;
}
.review div{
  display: flex;
  flex-direction: column;
  GAP: 10PX;
  padding: 10px;
}
.stars{
  display: flex;
  justify-content: space-between;
  color: white;
}

/* modifica detaglio in parte */
.detail{
  padding: 20px 100px;
  background-image: url("https://img.freepik.com/foto-premium/immagine-di-bobine-di-film-d-epoca-su-uno-sfondo-scuro-testurato-che-evoca-la-nostalgia-per-il-cinema-classico-e-la-produzione-cinematografica_490636-17474.jpg");
  background-size: 100%;
}
.detail h2, .stars{
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.detail img{
  width: 15%;
}
.card-review{
  display: flex;
  padding: 10px;
  border: 2px solid rgb(151, 151, 151);
  margin-bottom: 20px;
  background-color: white;
}
.card-review div{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#formarticolo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid rgb(151, 151, 151);
  background-color: white;
}
.title-form{
  padding: 10px 20px;
  background-color: rgb(175, 175, 175);
}
.botton{
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.botton a{
  padding: 10px;
  width: 15%;
  background-color: rgb(196, 212, 255);
  text-align: center;
  border-radius: 10px;
}
#formarticolo button{
  width: 20%;
  padding: 5px;
  background-color: rgb(0, 110, 255);
  color: white;
}
/* modifica voto star */
.star {
  color: rgb(255, 230, 0);
  font-size: 18px;
  margin: 2px;
}

.star2 {
  color: #444;
  font-size: 18px;
  margin: 2px;
}